name = "s-clips"
main = "src/index.ts"
compatibility_date = "2026-08-01"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "YOUR_R2_BUCKET_NAME"

[[kv_namespaces]]
binding = "KV"
id = "YOUR_KV_NAMESPACE_ID"
